<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->

<!-- mapper 인터페이스가 위치하는 경로 -->
<mapper namespace="com.stadion.api.mapper.FileDataMapper">	
    <!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
    <select id="getFileData" resultType="com.stadion.api.entity.FileData">	
        SELECT *
        FROM fileData 
        	WHERE fileData.idx = #{idx}
    </select>
    
    <select id="getFileDataFile" parameterType="map" resultType="com.stadion.api.entity.FileData">	
        SELECT *
        FROM fileData WHERE 
        fileData.fileKind = #{fileKind} 
        and fileData.tableLinkIdx = #{tableLinkIdx} 
        and fileData.pIdx IN (SELECT guideBoard.idx FROM guideBoard)
        and status=1;
        	
    </select>
    
    <select id="getFileDataImage" parameterType="map" resultType="com.stadion.api.entity.FileData">	
        SELECT *
        FROM fileData WHERE 
        fileData.fileKind = #{fileKind} 
        and fileData.tableLinkIdx = #{tableLinkIdx} 
        and fileData.pIdx = #{pIdx}
        and status=1
        order by regUnixtime desc;
        	
    </select>
    
    <select id="getFileDataMtc" parameterType="map" resultType="com.stadion.api.entity.FileData">	
        SELECT *
        FROM fileData WHERE 
        fileData.fileKind = #{fileKind} 
        and fileData.tableLinkIdx = #{tableLinkIdx} 
        and fileData.pIdx IN (SELECT momParticipantLinkInfo.momIdx FROM momParticipantLinkInfo)
        and status=1
        ;
        	
    </select>

	<insert id="insertFileData" parameterType="com.stadion.api.entity.FileData">
		INSERT fileData 
			(tableLinkIdx, pIdx, filePath, fileTitle, fileNameOrg, fileNameNew, fileNameThumb,
				 fileSize, fileExt, fileType, fileKind, 
        <if test="fileSort != '' and fileSort != null">
            fileSort,
        </if>
        <if test="writer != '' and writer != null">
            writer,
        </if>
        <if test="status != '' and status != null">
            status,
        </if>
			regUnixtime, lastUpdatetime) 
			
			VALUES 
			(#{tableLinkIdx}, #{pIdx}, #{filePath}, #{fileTitle}, #{fileNameOrg}, #{fileNameNew}, #{fileNameThumb},
				 #{fileSize}, #{fileExt}, #{fileType}, #{fileKind}, 
        <if test="fileSort != '' and fileSort != null">
            #{fileSort},
        </if>
        <if test="writer != '' and writer != null">
            writer,
        </if>
		<if test="status != '' and status != null">
            #{status},
        </if>		
			 
			UNIX_TIMESTAMP(), UNIX_TIMESTAMP()
        	);
	</insert>

</mapper>
