<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->

<!-- mapper 인터페이스가 위치하는 경로 -->
<mapper namespace="com.stadion.api.mapper.MomInfoMapper">	
    <!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
    <select id="getMomInfo" resultType="com.stadion.api.entity.MomInfo">	
        SELECT *
        FROM momInfo
        	WHERE momInfo.idx = #{idx}
    </select>
    
    <select id="getMomInfoAll" resultType="com.stadion.api.entity.MomInfo">	
        SELECT *
        FROM momInfo
        WHERE isOpen = "Y" 
        ORDER BY lastUpdatetime DESC;
        	
    </select>
    
    <select id="getMomTeamInfo" resultType="com.stadion.api.entity.MomTeamInfo">	
        SELECT *
        FROM momTeamInfo
        	WHERE momTeamInfo.leaderAccountIdx = #{leaderAccountIdx}
    </select>
    
    <insert id="insertMomTeamInfo" parameterType="com.stadion.api.entity.MomTeamInfo">
		INSERT momTeamInfo 
			( momIdx, name, leaderAccountIdx,

        <if test="status != '' and status != null">
            status,
        </if>        	
			
			regAccountIdx, regUnixtime, lastUpdatetime
			) 
			
			VALUES 
			( #{momIdx}, #{name}, #{leaderAccountIdx},
        
		<if test="status != '' and status != null">
            #{status},
        </if>		
        	#{regAccountIdx},			 
			UNIX_TIMESTAMP(), UNIX_TIMESTAMP()			
        	);
	</insert>
	
	<insert id="insertMomTeamMemberInfo" parameterType="com.stadion.api.entity.MomTeamMemberInfo">
		INSERT momTeamMemberInfo 
			( momIdx, 

        <if test="momTeamIdx != '' and momTeamIdx != null">
            momTeamIdx,
        </if>     
        	accountIdx, status,
			regAccountIdx, regUnixtime, lastUpdatetime
			) 
			
			VALUES 
			( #{momIdx},
        
		<if test="momTeamIdx != '' and momTeamIdx != null">
            momTeamIdx,
        </if>
        	#{accountIdx}, #{status},
        	#{regAccountIdx},			 
			UNIX_TIMESTAMP(), UNIX_TIMESTAMP()			
        	);
	</insert>
   

</mapper>
