<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->


<mapper namespace="com.stadion.api.mapper.MovementInfoMapper">	

    <select id="getMovementInfo" resultType="com.stadion.api.entity.MovementInfo">	
        SELECT *
        FROM movementInfo
        	WHERE movementInfo.idx = #{idx}
    </select>
    
    
    <select id="getMovementInfoAll" resultType="com.stadion.api.entity.MovementInfo">	
        SELECT *
        FROM movementInfo;
        	
    </select>


</mapper>
