<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->

<!-- mapper 인터페이스가 위치하는 경로 -->
<mapper namespace="com.stadion.api.mapper.WodBoxLinkInfoMapper">	
    <!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
    <select id="getWodBoxLinkInfo" resultType="com.stadion.api.entity.WodBoxLinkInfo">	
        SELECT *
        FROM wodBoxLinkInfo
        	WHERE wodBoxLinkInfo.idx = #{idx}
    </select>


        <!-- SQL문 작성
                SELECT *
        FROM test_table
         -->
</mapper>
