<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->

<!-- mapper 인터페이스가 위치하는 경로 -->
<mapper namespace="com.stadion.api.mapper.WodItemOneRmDataMapper">	
    <!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
    <select id="getWodItemOneRmData" resultType="com.stadion.api.entity.WodItemOneRmData">	
        SELECT *
        FROM wodItemOneRmData
        	WHERE wodItemOneRmData.idx = #{idx}
    </select>
    
    
    <select id="getWodItemOneRmDataPersonal" resultType="com.stadion.api.entity.WodItemOneRmData">	
        SELECT *
        FROM wodItemOneRmData WHERE wodItemOneRmData.accountIdx = #{accountIdx} AND wodItemOneRmData.wodItemIdx IN (15,12,11,23,4,35,25,14,7,3) ORDER BY lastUpdatetime DESC;
        	
    </select>
    
    
    <select id="getWodItemOneRmDataPersonalDetail" resultType="com.stadion.api.entity.WodItemOneRmData">	
        WITH RankedData AS (
    SELECT
        *,
        ROW_NUMBER() OVER (PARTITION BY wodItemIdx ORDER BY value2 DESC) AS rnk
    FROM wodItemOneRmData
    WHERE accountIdx = #{accountIdx}
      AND wodItemIdx IN (15, 12, 11, 23, 4, 35, 25, 14, 7, 3)
    )
    SELECT
        *
    FROM RankedData
    WHERE rnk = 1
    ORDER BY FIELD(wodItemIdx, 15, 12, 11, 23, 4, 35, 25, 14, 7, 3), value2 DESC;
        	
    </select>
    
    
    <select id="getWodItemOneRmDataClub" resultType="com.stadion.api.entity.WodItemOneRmData">	
        WITH RankedData AS (
    SELECT
        *,
        ROW_NUMBER() OVER (PARTITION BY wodItemIdx ORDER BY value2 DESC) AS rnk
    FROM wodItemOneRmData
    WHERE accountIdx = #{accountIdx}
      AND wodItemIdx IN (15, 12, 4)
    )
    SELECT
        *
    FROM RankedData
    WHERE rnk = 1
    ORDER BY FIELD(wodItemIdx, 15, 12, 4), value2 DESC;
        	
    </select>
    
    
    <select id="getWodItemOneRmDataClubMan" resultType="com.stadion.api.entity.WodItemOneRmData">	
         WITH RankedData AS (
    SELECT
        wr.accountIdx,
        wr.wodItemIdx,
        MAX(wr.value2) AS max_value2,
        ROW_NUMBER() OVER (PARTITION BY wr.accountIdx, wr.wodItemIdx ORDER BY MAX(wr.value2) DESC) AS rnk
    FROM wodItemOneRmData wr
    JOIN accountInfo ai ON wr.accountIdx = ai.idx
    WHERE wr.wodItemIdx IN (15, 12, 4) AND ai.gender = 'M'
    GROUP BY wr.accountIdx, wr.wodItemIdx
    )

    SELECT
       accountIdx,
       wodItemIdx,
       MAX(CASE WHEN rnk = 1 THEN max_value2 END) AS value2,
       NULL AS total_value2
   FROM RankedData
   GROUP BY accountIdx, wodItemIdx

   UNION ALL

   SELECT
      accountIdx,
      NULL AS wodItemIdx,
      NULL AS value2,
      SUM(max_value2) AS total_value2
   FROM (
      SELECT
         accountIdx,
         MAX(max_value2) AS max_value2
      FROM RankedData
      WHERE rnk = 1
      GROUP BY accountIdx, wodItemIdx
      ) AS Subquery
      GROUP BY accountIdx
      ORDER BY total_value2 DESC, accountIdx, wodItemIdx DESC, value2;
        	
    </select>
    
    
    <select id="getWodItemOneRmDataClubWoman" resultType="com.stadion.api.entity.WodItemOneRmData">	
         WITH RankedData AS (
    SELECT
        wr.accountIdx,
        wr.wodItemIdx,
        MAX(wr.value2) AS max_value2,
        ROW_NUMBER() OVER (PARTITION BY wr.accountIdx, wr.wodItemIdx ORDER BY MAX(wr.value2) DESC) AS rnk
    FROM wodItemOneRmData wr
    JOIN accountInfo ai ON wr.accountIdx = ai.idx
    WHERE wr.wodItemIdx IN (15, 12, 4) AND ai.gender = 'W'
    GROUP BY wr.accountIdx, wr.wodItemIdx
    )

    SELECT
       accountIdx,
       wodItemIdx,
       MAX(CASE WHEN rnk = 1 THEN max_value2 END) AS value2,
       NULL AS total_value2
   FROM RankedData
   GROUP BY accountIdx, wodItemIdx

   UNION ALL

   SELECT
      accountIdx,
      NULL AS wodItemIdx,
      NULL AS value2,
      SUM(max_value2) AS total_value2
   FROM (
      SELECT
         accountIdx,
         MAX(max_value2) AS max_value2
      FROM RankedData
      WHERE rnk = 1
      GROUP BY accountIdx, wodItemIdx
      ) AS Subquery
      GROUP BY accountIdx
      ORDER BY total_value2 DESC, accountIdx, wodItemIdx DESC, value2 DESC;
        	
    </select>
    
    
    <select id="getWodItemOneRmDataClubAll" resultType="com.stadion.api.entity.WodItemOneRmData">	
        WITH RankedData AS (
    SELECT
        *,
        ROW_NUMBER() OVER (PARTITION BY wodItemIdx ORDER BY value2 DESC) AS rnk
    FROM wodItemOneRmData
    WHERE wodItemIdx IN (15, 12, 4)
    )
    SELECT
        *
    FROM RankedData ORDER BY FIELD(wodItemIdx, 15, 12, 4), value2;
        	
    </select>


        <!-- SQL문 작성
                SELECT *
        FROM test_table
         -->
</mapper>
