<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.stadion.api.mapper.WodInfoMapper">	

    <select id="getWodInfo" resultType="com.stadion.api.entity.WodInfo">	
        SELECT *
        FROM wodInfo 
        	WHERE wodInfo.idx = #{idx}
    </select>
    
    <select id="getWodInfoIdx" resultType="Long">	
        SELECT idx
        FROM wodInfo 
        	WHERE wodInfo.name = #{name}
        	LIMIT 1
    </select>
        
    <select id="getWodInfoAll" resultType="com.stadion.api.entity.WodInfo">
		SELECT wi.*
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37
        
        ORDER BY wi.lastUpdatetime DESC;	

    </select>
    
    <select id="getWodInfoClass" resultType="com.stadion.api.entity.WodInfo">	
        SELECT * FROM stadion_db_dev.wodInfo 
        WHERE progressDate = CURDATE() ORDER BY orderNo ASC;
        	
    </select>
    
    <select id="getwodInfoSearchName" resultType="String">	
        SELECT name
        FROM wodInfo 
        	WHERE (wodInfo.name like #{keyword} OR wodInfo.progressDate like #{keyword} )        	
    </select>

    <select id="getwodInfoSearchNameIdx" resultType="com.stadion.api.entity.WodInfoNameIdx">	
        SELECT wodInfo.idx, name
        FROM wodInfo 
        	WHERE (wodInfo.name like #{keyword} OR wodInfo.progressDate like #{keyword} )
        	order by name
    </select>
    
    <select id="getwodInfoSearch" resultType="com.stadion.api.entity.WodInfo">	
        SELECT *
        FROM wodInfo 
        	WHERE (wodInfo.name like #{keyword} OR wodInfo.progressDate like #{keyword} )
        	order by name
    </select>
    
            <!-- TEST 06/26
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and progressDate=DATE_FORMAT(CURDATE(), '%Y-%m-%d')
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and progressDate=DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL+1 DAY), '%Y-%m-%d')
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and progressDate='2024-06-26'    			
        -->
    
    <select id="getWodInfoToday" resultType="com.stadion.api.entity.WodInfoWithFile">
		SELECT wi.*, fd.filePath, fd.fileNameThumb
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and progressDate=DATE_FORMAT(CURDATE(), '%Y-%m-%d')
        
        ORDER BY wi.lastUpdatetime DESC;
    </select>
    
    <select id="getwodInfoTomorrow" resultType="com.stadion.api.entity.WodInfoWithFile">
		SELECT wi.*, fd.filePath, fd.fileNameThumb
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and progressDate=DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL+1 DAY), '%Y-%m-%d')
        
        ORDER BY wi.lastUpdatetime DESC;
    </select>

        <!--
        
        과거 전체
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  
        and STR_TO_DATE(wi.progressDate, '%Y-%m-%d')<CURDATE()
        과거 이번달
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  
        and DATE_FORMAT(STR_TO_DATE(wi.progressDate, '%Y-%m-%d'), '%Y-%m')=DATE_FORMAT(CURDATE(), '%Y-%m')
        
        and progressDate like '2024-06-2%'
        and DATE_FORMAT(STR_TO_DATE(wi.progressDate, '%Y-%m-%d'), '%Y-%m')=DATE_FORMAT(CURDATE(), '%Y-%m')
        
        -->

    <select id="getwodInfoPast" resultType="com.stadion.api.entity.WodInfoWithFile">
    <![CDATA[
		SELECT wi.*, fd.filePath, fd.fileNameThumb
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  
        and DATE_FORMAT(STR_TO_DATE(wi.progressDate, '%Y-%m-%d'), '%Y-%m')=DATE_FORMAT(CURDATE(), '%Y-%m')
        ORDER BY wi.lastUpdatetime DESC;
          ]]>
    </select>

<!--  test
    	    and progressDate=DATE_FORMAT(CURDATE(), '%Y-%m-%d')
        and progressDate=DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL+1 DAY), '%Y-%m-%d')
        and progressDate='2024-06-26'

 -->
    <select id="getwodInfoTodayByBox" resultType="com.stadion.api.entity.WodInfoWithFile">
    	SELECT DISTINCT wi.*, fd.filePath, fd.fileNameThumb, wbi.boxIdx
		FROM wodBoxLinkInfo as wbi, wodInfo as wi
		
        LEFT JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
		    and fd.fileKind='C' 
            and fd.tableLinkIdx=37  
        LEFT JOIN 
		    wodBoxLinkInfo AS bi ON wi.idx = bi.wodIdx
        WHERE wi.isOpen = 'Y' 
        	and wi.idx = fd.pIdx
            and wi.idx = wbi.wodIdx	        
    	    and wbi.boxIdx = #{boxIdx}
    	    and progressDate=DATE_FORMAT(CURDATE(), '%Y-%m-%d')
        
        ORDER BY wi.lastUpdatetime DESC;
    </select>
    
    <select id="getwodInfoTomorrowByBox" resultType="com.stadion.api.entity.WodInfoWithFile">
    	SELECT DISTINCT wi.*, fd.filePath, fd.fileNameThumb, wbi.boxIdx
		FROM wodBoxLinkInfo as wbi, wodInfo as wi
		
        LEFT JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
		    and fd.fileKind='C' 
            and fd.tableLinkIdx=37  
        LEFT JOIN 
		    wodBoxLinkInfo AS bi ON wi.idx = bi.wodIdx
        WHERE wi.isOpen = 'Y' 
        	and wi.idx = fd.pIdx
            and wi.idx = wbi.wodIdx	        
    	    and wbi.boxIdx = #{boxIdx}
        and progressDate=DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL+1 DAY), '%Y-%m-%d')
        
        ORDER BY wi.lastUpdatetime DESC;
    </select>

<!--
        and DATE_FORMAT(STR_TO_DATE(wi.progressDate, '%Y-%m-%d'), '%Y-%m')=DATE_FORMAT(CURDATE(), '%Y-%m')
        and wi.progressDate like '2024-06-2%' 
 -->    
    <select id="getwodInfoPastByBox" resultType="com.stadion.api.entity.WodInfoWithFile">
    <![CDATA[
    	SELECT DISTINCT wi.*, fd.filePath, fd.fileNameThumb, wbi.boxIdx
		FROM wodBoxLinkInfo as wbi, wodInfo as wi
		
        LEFT JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
		    and fd.fileKind='C' 
            and fd.tableLinkIdx=37  
        LEFT JOIN 
		    wodBoxLinkInfo AS bi ON wi.idx = bi.wodIdx
        WHERE wi.isOpen = 'Y' 
        	and wi.idx = fd.pIdx
            and wi.idx = wbi.wodIdx	        
    	    and wbi.boxIdx = #{boxIdx}
        and DATE_FORMAT(STR_TO_DATE(wi.progressDate, '%Y-%m-%d'), '%Y-%m')=DATE_FORMAT(CURDATE(), '%Y-%m')
        ORDER BY wi.lastUpdatetime DESC;
          ]]>
    </select>

    <select id="getWodInfoFile" resultType="com.stadion.api.entity.WodInfoWithFile">
		SELECT wi.*, fd.filePath, fd.fileNameThumb
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' 
        and fd.tableLinkIdx=37  
        and wi.idx=#{idx}
        
        ORDER BY wi.lastUpdatetime DESC LIMIT 1;
    </select>
    
    

</mapper>
