<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->

<!-- mapper 인터페이스가 위치하는 경로 -->
<mapper namespace="com.stadion.api.mapper.WodItem5RmDataMapper">	
    <!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
    <select id="getWodItem5RmData" resultType="com.stadion.api.entity.WodItem5RmData">	
        SELECT *
        FROM wodItem5RmData
        	WHERE wodItem5RmData.idx = #{idx}
    </select>
    
    
    <select id="getWodItem5RmDataPersonalDetail" resultType="com.stadion.api.entity.WodItem5RmData">	
        WITH RankedData AS (
    SELECT
        *,
        ROW_NUMBER() OVER (PARTITION BY wodItemIdx ORDER BY value2 DESC) AS rnk
    FROM wodItem5RmData
    WHERE accountIdx = #{accountIdx}
      AND wodItemIdx IN (15, 12, 11, 23, 4, 35, 25, 14, 7, 3)
    )
    SELECT
        *
    FROM RankedData
    WHERE rnk = 1
    ORDER BY FIELD(wodItemIdx, 15, 12, 11, 23, 4, 35, 25, 14, 7, 3), value2 DESC;
        	
    </select>


        <!-- SQL문 작성
                SELECT *
        FROM test_table
         -->
</mapper>
