<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.stadion.api.mapper.WodInfoMapper">	
    <!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
    <select id="getWodInfo" resultType="com.stadion.api.entity.WodInfo">	
        SELECT *
        FROM wodInfo 
        	WHERE wodInfo.idx = #{idx}
    </select>
    
    
    <select id="getWodInfoAll" resultType="com.stadion.api.entity.WodInfo">
		SELECT wi.*
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37
        
        ORDER BY wi.lastUpdatetime DESC;	

    </select>
    
    <select id="getWodInfoClass" resultType="com.stadion.api.entity.WodInfo">	
        SELECT * FROM stadion_db_dev.wodInfo 
        WHERE progressDate = CURDATE() ORDER BY orderNo ASC;
        	
    </select>
    
    <select id="getwodInfoSearch" resultType="com.stadion.api.entity.WodInfo">	
        SELECT *
        FROM wodInfo 
        	WHERE (wodInfo.name like #{keyword} OR wodInfo.progressDate like #{keyword} )
    </select>
    
    <select id="getWodInfoToday" resultType="com.stadion.api.entity.WodInfoWithFile">
		SELECT wi.*, fd.filePath, fd.fileNameThumb
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and progressDate=DATE_FORMAT(CURDATE(), '%Y-%m-%d')
        
        ORDER BY wi.lastUpdatetime DESC;
    </select>
    
    <select id="getwodInfoTomorrow" resultType="com.stadion.api.entity.WodInfoWithFile">
		SELECT wi.*, fd.filePath, fd.fileNameThumb
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and progressDate=DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL+1 DAY), '%Y-%m-%d')
        
        ORDER BY wi.lastUpdatetime DESC;
    </select>

        <!--
        
        과거 전체
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and STR_TO_DATE(wi.progressDate, '%Y-%m-%d')<CURDATE()
        과거 이번달
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and DATE_FORMAT(STR_TO_DATE(wi.progressDate, '%Y-%m-%d'), '%Y-%m')=DATE_FORMAT(CURDATE(), '%Y-%m')
        -->

    <select id="getwodInfoPast" resultType="com.stadion.api.entity.WodInfoWithFile">
    <![CDATA[
		SELECT wi.*, fd.filePath, fd.fileNameThumb
        FROM wodInfo as wi
        JOIN 
		    fileData AS fd ON wi.idx = fd.pIdx
        WHERE wi.isOpen = 'Y' and fd.fileKind='C' and fd.tableLinkIdx=37  and DATE_FORMAT(STR_TO_DATE(wi.progressDate, '%Y-%m-%d'), '%Y-%m')=DATE_FORMAT(CURDATE(), '%Y-%m')
        ORDER BY wi.lastUpdatetime DESC;
          ]]>
    </select>
    

</mapper>
