<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->

<!-- mapper 인터페이스가 위치하는 경로 -->
<mapper namespace="com.stadion.api.mapper.WodParticipantLinkInfoMapper">	
    <!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
    <select id="getWodParticipantLinkInfo" resultType="com.stadion.api.entity.WodParticipantLinkInfo">	
        SELECT *
        FROM wodParticipantLinkInfo
        	WHERE wodParticipantLinkInfo.idx = #{idx}
    </select>

    <select id="getwodParticipantRecent" resultType="com.stadion.api.entity.WodBoxLinkInfoName">	
		SELECT wbli.*, wi.name
        FROM stadion_db_dev.wodBoxLinkInfo as wbli
        JOIN stadion_db_dev.wodInfo as wi 
			ON wi.idx = wbli.wodIdx
			where wbli.idx = (
			SELECT wbLinkIdx 
			FROM stadion_db_dev.wodParticipantLinkInfo
			where accountIdx =#{accountIdx} 
			order by regUnixtime DESC LIMIT 1
			)

    </select>    
    
    <!--  TEST 2023년, 1~12월 전체 -->
    <select id="getwodParticipantLinkInfoAttend" resultType="Long">	
        SELECT count(*)
	        FROM stadion_db_dev.wodParticipantLinkInfo wpli1
	        INNER JOIN stadion_db_dev.wodInfo wi ON wpli1.wodIdx = wi.idx
	        WHERE wpli1.accountIdx = #{accountIdx}
	        AND wpli1.isAttend = 'Y'
	        AND YEAR(wi.progressDate) IN ( 2023, YEAR(CURRENT_DATE()) )
	        AND MONTH(wi.progressDate) IN ( 1,2,3,4,5,6,7,8,9,10,11,12,  MONTH(CURRENT_DATE()) )
    </select>
    
    
    <select id="getwodParticipantLinkInfoNoAttend" resultType="Long">	
        SELECT count(*)
	        FROM stadion_db_dev.wodParticipantLinkInfo wpli1
	        INNER JOIN stadion_db_dev.wodInfo wi ON wpli1.wodIdx = wi.idx
	        WHERE wpli1.accountIdx = #{accountIdx}
	        AND wpli1.isAttend = 'N'
	        AND YEAR(wi.progressDate) IN ( 2023, YEAR(CURRENT_DATE()) )
	        AND MONTH(wi.progressDate) IN ( 1,2,3,4,5,6,7,8,9,10,11,12,  MONTH(CURRENT_DATE()) )
    </select>

	<select id="getwodParticipantCount" resultType="Long">	
        SELECT count(*)
        FROM wodParticipantLinkInfo
        	WHERE wodParticipantLinkInfo.wbLinkIdx = #{idx}
        	and status = 1
    </select>

	<select id="getwodParticipantReserved" resultType="Long">	
        SELECT count(*)
        FROM wodParticipantLinkInfo
        	WHERE wodParticipantLinkInfo.wbLinkIdx = #{idx} 
        	and accountIdx=#{accountIdx}
    </select>
    
    <select id="getWodParticipantAttend" resultType="Long">	
        SELECT count(*)
        FROM wodParticipantLinkInfo
        	WHERE wodParticipantLinkInfo.wodIdx = #{idx} 
        	 and isAttend='Y' and status=1
    </select>
    
    <select id="getwodParticipantStatus" resultType="Long">	
        SELECT status
        FROM wodParticipantLinkInfo
        	WHERE wodParticipantLinkInfo.wbLinkIdx = #{idx} 
        	and accountIdx=#{accountIdx}
    </select>
    
    
    <update id="cancelWodParticipantLinkInfo">	
        UPDATE wodParticipantLinkInfo 
        <set>
			status = 9
        </set>
        	WHERE  idx = #{idx}         	
    </update>
    
    <update id="reserveWodParticipantLinkInfo">	
        UPDATE wodParticipantLinkInfo 
        <set>
			status = 1
        </set>
        	WHERE  idx = #{idx}         	
    </update>    
    
    <select id="getwodParticipantIdx" resultType="Long">	
        SELECT idx
        FROM wodParticipantLinkInfo
        	WHERE wodParticipantLinkInfo.wbLinkIdx = #{wbLinkIdx} 
        	and accountIdx=#{accountIdx}
    </select>

	<insert id="insertWodParticipantLinkInfo" parameterType="com.stadion.api.entity.WodParticipantLinkInfo">
		INSERT INTO wodParticipantLinkInfo
 			(wodIdx, boxIdx,   
        <if test="wbLinkIdx != 0 and wbLinkIdx != null">
            wbLinkIdx,
        </if>
        <if test="accountIdx != 0 and accountIdx != null">
            accountIdx,
        </if>
 			writer, status, regUnixtime, lastUpdatetime
			) 
			
			VALUES 
			 (
			 #{wodIdx}, #{boxIdx},   
        <if test="wbLinkIdx != 0 and wbLinkIdx != null">
            #{wbLinkIdx},
        </if>
        <if test="accountIdx != 0 and accountIdx != null">
            #{accountIdx},
        </if>
 			#{writer}, #{status}, UNIX_TIMESTAMP(), UNIX_TIMESTAMP() 
        	);
	</insert>

</mapper>
