<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->

<!-- mapper 인터페이스가 위치하는 경로 -->
<mapper namespace="com.stadion.api.mapper.WodRecordInfoMapper">	
    <select id="getWodRecordInfo" resultType="com.stadion.api.entity.WodRecordInfo">	
        SELECT *
        FROM wodRecordInfo
        	WHERE wodRecordInfo.idx = #{idx}
    </select>

    <select id="getWodRecordInfoByWodIdx" resultType="com.stadion.api.entity.WodRecordInfo">	
        SELECT *
        FROM wodRecordInfo
        	WHERE wodRecordInfo.wodIdx = #{wodIdx}
    </select>


</mapper>
