<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->
<mapper namespace="com.stadion.api.mapper.WodRecordInfoMapper">	
    <select id="getWodRecordInfo" resultType="com.stadion.api.entity.WodRecordInfo">	
        SELECT *
        FROM wodRecordInfo
        	WHERE wodRecordInfo.idx = #{idx}
    </select>

    <select id="getWodRecordInfoByWodIdx" resultType="com.stadion.api.entity.WodRecordInfo">	
        SELECT *
        FROM wodRecordInfo
        	WHERE wodRecordInfo.wodIdx = #{wodIdx}
    </select>


    <select id="getWodRecordInfoRecentByWod" resultType="com.stadion.api.entity.WodRecordInfoWithBox">	
        SELECT *, wpli.boxIdx, wpli.wbLinkIdx
        FROM wodRecordInfo AS wri
        JOIN wodParticipantLinkInfo as wpli
			ON wpli.accountIdx = #{accountIdx}
        	WHERE wri.wodIdx = #{wodIdx}
            and accountIdx = #{accountIdx}
		GROUP by wpli.boxIdx
        order by wpli.regUnixtime DESC
    </select>    
</mapper>
