<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->
<mapper namespace="com.stadion.api.mapper.WodStepInfoMapper">	
    <select id="getWodStepInfo" resultType="com.stadion.api.entity.WodStepInfo">	
        SELECT *
        FROM wodStepInfo
        	WHERE wodStepInfo.idx = #{idx}
    </select>

    <select id="getWodStepInfoByWodIdx" resultType="com.stadion.api.entity.WodStepInfo">	
        SELECT *
        FROM wodStepInfo
        	WHERE wodStepInfo.wodIdx = #{wodIdx}
        	and status = 1 ORDER BY sequence ASC        	
    </select>

</mapper>
